<div ba-panel ba-panel-class="profile-page" >
	<div class="panel-content">


		<h3 class="with-line">General Information</h3>

		<div ng-if="data.flag" class="alert bg-success closeable" role="alert"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
			<strong>Well done!</strong> You successfully saved the data.
		</div>


		<form name="profile" method="post" ng-submit="submit()">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputFirstName" placeholder=""  ng-model="data.inputFirstName" required>
						</div>
					</div>
					<div class="form-group row clearfix">
						<label for="inputLastName" class="col-sm-3 control-label" >Last Name</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputLastName" placeholder="" ng-model="data.inputLastName">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label class="col-sm-3 control-label">Department</label>

						<div class="col-sm-9">
							<select class="form-control" selectpicker ng-model="data.department">
								<option>Web Development</option>
								<option>System Development</option>
								<option>Sales</option>
								<option>Human Resources</option>
							</select>
						</div>
					</div>

					<div class="form-group row clearfix">
						<label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputOccupation" placeholder=""  ng-model="data.inputOccupation">
							<span ng-bind="data.inputOccupation"></span>
						</div>
					</div>
				</div>
			</div>

			<h3 class="with-line">Change Password</h3>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label for="inputPassword" class="col-sm-3 control-label">Password</label>

						<div class="col-sm-9">
							<input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="data.password">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

						<div class="col-sm-9">
							<input type="password" class="form-control" id="inputConfirmPassword" placeholder="" ng-model="data.cnfrPassword">
						</div>
					</div>
				</div>
			</div>

			<h3 class="with-line">Contact Information</h3>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label for="inputEmail3" class="col-sm-3 control-label">Email</label>

						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="" ng-model="data.email">
						</div>
					</div>
					<div class="form-group row clearfix">
						<label for="inputPhone" class="col-sm-3 control-label">Phone</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputPhone" placeholder="" ng-model="data.phone">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row clearfix">
						<label class="col-sm-3 control-label">Office Location</label>

						<div class="col-sm-9">
							<select class="form-control" title="Standard Select" selectpicker ng-model="data.location">
								<option>San Francisco</option>
								<option>London</option>
								<option>Minsk</option>
								<option>Tokio</option>
							</select>
						</div>
					</div>
					<div class="form-group row clearfix">
						<label for="inputRoom" class="col-sm-3 control-label">Room</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputRoom" placeholder="" ng-model="data.inputRoom">
						</div>
					</div>
				</div>
			</div>

			
			<button type="submit" class="btn btn-primary btn-with-icon save-profile">
				<i class="ion-android-checkmark-circle"></i>Update Profile
			</button>
		</div>
	</form>
</div>
